<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Muttfield Health</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Member Admin</a></li>
        <li><a href="/courses">Course Admin</a></li>
        <li><a href="/sessions">Session Admin</a></li>
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>
