<!DOCTYPE html>
<html lang="" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Muttfield Health</title>
  <!-- <link rel="stylesheet" href="/reset.css"> -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <section class="wrapper">
    <header>
      <a href="/"><img src="/images/muttfield.jpg" alt="" height="80"></a>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/sessions">Sessions</a></li>
      </ul>
    </nav>
      <main>
        <%= yield %>
      </main>

    <footer class="footer">
      &copy 2018
    </footer>
  </section>



</body>
</html>
