<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Muttfield Health</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <section class="wrapper">
      <header>
        <h1>Muttfield Health</h1>
      </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Member Admin</a></li>
        <li><a href="/courses">Course Admin</a></li>
        <li><a href="/sessions">Session Admin</a></li>
      </ul>
    </nav>
    <main>
      <%= yield %>

    </main>
    <footer> &copy 2018</footer>
  </section>
  </body>
</html>
