<h1>Class Schedule</h1>
<p><a href="/sessions/new">Add Class to Schedule</a></p>
<hr>
<% @sessions.each do |session| %>
<p> <%= session.course.type %> - <%= session.start_time %> </p>
<p><a href="/sessions/<%= session.id %>">Session Details</a> </p>
<hr>
<% end %>
