<h1>Schedule a Session</h1>
<form class="" action="/sessions/:id" method="post">
  <p>
  <label for="course-selection">Select a course:
    <select class="" name="course_id" id="course-selection">
      <% for course in @courses %>
      <option value="<%= course.id %>"><%= course.type %></option>
      <% end %>
    </select>
  </label>
  <label for="start-time-field">Start Time
    <input type="time" name="start_time" value="" id="start-time-field">
  </label>
</p>
<p>
  <div class="update-delete">
    <input type="submit" name="" value="Schedule Session">
  </div>
</p>
</form>
