<h1>Edit Member Details</h1>
<hr>
  <form class="" action="/members/<%= @member.id %>/edit" method="post">
    <p>
    <label for="f-name-field">First Name:</label>
    <input type="text" name="f_name" value="<%= @member.f_name %>" id="f-name-field">
    <label for="l-name-field">Last Name:</label>
    <input type="text" name="l_name" value="<%= @member.l_name %>" id="l-name-field">
  </p>
  <p>
    <div class="update-delete">
      <input type="submit" name="" value="Edit Member">
    </div>
  </p>
  </form>
