<h1>Members</h1>
<a href="/members/new">Add a New Member</a>
<hr>
<% @members.each do |member| %>
  <p class="detail-title"><%= member.member_name() %></p>
  <p>Sessions booked: <%= member.sessions.count() %></p>
  <p><a href="/members/<%= member.id %>">Member Details</a> </p>
  <hr/>
<% end %>
