<h1>Add New Member</h1>
<form action="/members/:id" method="post">
  <p>
    <label for="f-name-field">First Name:
        <input type="text" name="f_name" value="" id="f-name-field">
    </label>

    <label for="l-name-field">Last Name:
      <input type="text" name="l_name" value="" id="l-name-field">
    </label>

  </p>
  <p>
  <div class="update-delete">
    <input type="submit" value="Register User">
  </div>
</p>
</form>
