<h1>Edit Course Details</h1>
<hr>
  <form class="" action="/courses/<%= @course.id %>/edit" method="post">
    <p>
    <label for="type-field">Type:
    <input type="text" name="type" value="<%= @course.type %>" id="type-field"></label>
  </p>
    <div class="update-delete">
      <input type="submit" name="" value="Edit Course">
    </div>
  </form>

</form>
