<h1>Add New Course</h1>
<form action="/courses/:id" method="post">
  <p>
    <label for="type-field">Type:</label>
    <input type="text" name="type" value="" id="type-field">
  </p>
  <div class="update-delete">
    <input type="submit" name="" value="Save">
  </div>
</form>
