<h1>Add New Course</h1>
<form action="/courses/:id" method="post">
  <p>
    <label for="type-field">Type:
      <input type="text" name="type" value="" id="type-field">
    </label>
  </p>
  <div class="update-delete">
    <input type="submit" name="" value="Save">
  </div>
</form>
