<h1>Add New Course</h1>
<form action="/courses/:id" method="post">
  <label for="type-field">Type:</label>
  <input type="text" name="type" value="" id="type-field">
  <input type="submit" name="" value="Save">
</form>
